<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muyuan.platform.skip.mapper.MyAreaMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.muyuan.platform.skip.entity.db.MyArea" id="myAreaMap">
        <result property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceNo" column="device_no"/>
        <result property="ver" column="ver"/>
        <result property="flag" column="flag"/>
        <result property="num" column="num"/>
        <result property="pots" column="pots"/>
        <result property="time" column="time"/>
    </resultMap>

</mapper>